body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: center;
}

* { box-sizing: border-box; }

form {
  width: max-content;
  margin: 0 auto;
}

td {
  font-size: 55px;
  width: 1.3em;
  height: 1.3em;
  border: 1px solid #777;
  padding: 0;
  text-align: center;
}

table button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  color: transparent;
  font-size: 1em;
  background-color: transparent;
}
table button:hover {
  color: #BBB;
  background-color: #EEE;
}
